{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
      {% endwith %}
        <form method="POST" action="/register">
            <h3 class="title has-text-centered">Register</h3>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="field">
                <label class="label">Registration Code</label>
                <div class="control">
                    <input class="input is-large" type="key" name="key" placeholder="Registration Key">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Register</button>
            <br>
            <a href="./login">Already have an account? Log in here.</a>
        </form>
    </div>
</div>
{% endblock %}